<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="backtrace.io.log4j2">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <BacktraceAppender name="BacktraceAppender" endpointUrl="x" submissionToken="y" useDatabase="false" maxDatabaseSize="100"/>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console" />
            <AppenderRef ref="BacktraceAppender"/>
        </Root>
    </Loggers>
</Configuration>
